.btn {
  border-radius: 30px;
  color: white;
  padding: 15px 20px;
  text-decoration: none;
  display: block;
  width: fit-content;
  margin: auto;
  background: linear-gradient(to left, $first-color, $second-color);
  box-shadow: 3px 3px 10px rgba(100, 100, 100, 0.25);
  transition: all 400ms;

  &:hover {
    box-shadow: 3px 3px 10px rgba(100, 100, 100, 0.75);
    filter: brightness(1.1);
  }

  &.order-btn {
    margin: 16px auto;
  }
}
