.menu-item {
    margin: 0 15px 15px 0;
    background: white;
    height: 70px;
    width: 100%;
    border-radius: 15px;
    box-shadow: 2px 2px 7px #d3d3d3;
    position: relative;

    &__title {
        margin: 15px 0px 5px 15px;
    font-weight: bold;
    font-size: 1rem;
    }
}
